.vert-align-child {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.large-icon {
  font-size: 3rem;
  padding: 1rem;
}

.teal {
 color: #00baae; 
}

.vert-align-parent {
  display: table;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}